@import "../_variables";

//nav-Bars
.navbar{
  .navbar-nav{
    .dropdown {
      a{
        &:focus{
        background: none !important;
      }
      }
    }
    //стили для выпадающего меню
    .dropdown-menu{
    background: $purple_gradient;
    color: white;
      a{
        &:hover{
          background: $purple_gradient;
        }
      }
    }
  }
}


// правый сайд-бар
  #right_bar{
    .list-group{
      .list-group-item{
      background: $gray;
        &:hover {
        background: rgba(209, 209, 209, 0.6);
        }
      }
    }
  }



  .panel{

    .panel-body{
      input{
        color: black;
      }

    }
    a{
      color: $beth;
    }
  }


  /* Стиль для list-group для Articles */

    .list-group{
      .list-group-item{
        background: rgba(209, 209, 209, 0.6);
        border: 1px double;
        margin: 10px;
      }
    }


