@import "../_variables";

//nav-Bars
.navbar{
  .navbar-nav{
    .dropdown {
      a{
        &:focus{
        background: none !important;
      }
      }
    }
    //стили для выпадающего меню
    .dropdown-menu{
    background: $purple_gradient;
    color: white;
      a{
        &:hover{
          background: $purple_gradient;
        }
      }
    }
  }
}

// правый сайд-бар
  #right_bar{
    .list-group{
      .list-group-item{
      background: $gray;
        &:hover {
        background: darken($gray, 20%);
        }
      }
    }
  }

  .panel{
    .panel-heading{
      color: white !important;
      font-size: large;
    }
    .panel-body{
      input{
        color: black;
      }
    }
    a{
      color: $beth;
    }
    button{
      background-color: $purple;
      &:hover{
        background-color: darken($purple,15%);
      }
    }
  }


  /* Стиль для list-group для Articles */

    .list-group{
      .list-group-item{
        background: rgba(255,255,255,0.2);
        border: none;
      }
    }


