@import "../_variables";

//nav-Bars
.navbar{
  .navbar-nav{
    .dropdown {
      a{
        &:focus{
        background: none !important;
      }
      }
    }
    //стили для выпадающего меню
    .dropdown-menu{
    background: $purple_gradient;
    color: white;
      a{
        &:hover{
          background: $purple_gradient;
        }
      }
    }
  }
}


// правый сайд-бар
  #right_bar{
    .list-group{
      .list-group-item{
        border: none;
        padding: 5px;
        &:hover {
          h4{
            color: $purple;
          }
        background: rgba(242,242,242,0.5);
        }
      }
    }

    h3{
      margin-bottom: 20px;
      color: lighten($text_gray, 25%);
    }
  }



  .panel{
    .panel-body{
      input{
        color: black;
      }
    }
    a{
      color: $beth;
    }
  }


  /* Стиль для list-group для Articles на странице Index */
   #articles {
     .list-group-item {
       background: rgba(242,242,242, 1);
       margin: 10px;
     }
   }

  /* Стиль комментариев для Articles*/

  .articles_comments{
    background-color: darken($body-bg,3%);
    font-style: italic;
      .comment{
        border-bottom: 1px dotted darken($body-bg,10%);
        margin-bottom: 5px;
        .text_info{
          font-size: 12px;
        }
      }
    .form-control{
      color:black;
    }
  }

  .completed{
    color: $pink;
    text-decoration: line-through;
  }





