// Мой набор цветовой палитры
$purple:rgb(163,67,158);
$pink:rgb(255,56,228);
$beth:mix($purple,$pink,60%);

//$text_gray:#524c4c;
$text_light:#f1f1f1;
$text_dark: #530760;

$purple_gradient: linear-gradient(48deg,$purple,$beth, $pink);

$gray: rgba(185,185,185,0.5);


// Body
$body-bg: rgba(242,242,242,0.5);
  body{
    background-image: url("../../../public/bgImg/purple_gradient.png");
  };

  .wrapper{
    background-color: rgba(255,255,255, 0.3);
    border-radius:20px ;
  }

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Arimo", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $text_light;

// Navbar
.navbar-default{
  background: $purple_gradient;
    a{
      color: white !important;
    }
  }

// Buttons
  $btn-default-color: $text-color;

// Inputs
  $input-border: lighten($text-color, 40%);
  $input-border-focus: lighten($brand-primary, 25%);
  $input-color-placeholder: lighten($text-color, 30%);

// Panels
//  $panel-default-heading-bg: lighten($purple,30%);
  .panel-default{
    .panel-heading{
      color: white !important;
      font-size: large;
      background: $purple_gradient;
    }
    .panel-body{
      background-color: darken($body-bg,20%);

      input{
        border:none;
        &:hover{
          border: $purple;
        }
        &:focus{
          border: $purple;
        }
      }

      button{
        background-color: $purple;
        border: none;
        &:hover{
          background-color: darken($purple,15%);
        }
      }
    }
  }





